// Variables

$white: #fff !default;
$gray-100: #1abc9c !default;
$gray-200: #1abc9c !default;
$gray-300: #1abc9c !default;
$gray-400: #1abc9c !default;
$gray-500: #1abc9c !default;
$gray-600: #1abc9c !default;
$gray-700: #1abc9c !default;
$gray-800: #1abc9c !default;
$gray-900: #1abc9c !default;
$black: #000 !default;

$primary: #1abc9c !default;
